<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Curso AngularJS</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css"> <!-- caminho relativo href e src -->
    <script src="node_modules\bootstrap\dist\js\bootstrap.min.js"></script> <!-- injetar bootstrap -->
    <script src="http://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="http://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

    <script src="node_modules\angular\angular.min.js"></script> <!-- injetar angular -->
    <script src="node_modules\angular-route\angular-route.min.js"></script> <!-- injetar angular route -->

    <script src="curso-app.js"></script> <!-- injetar curso-app -->
    <script src="curso-router.js"></script> <!-- injetar rota -->
    <script src="curso-service.js"></script>

    <script src="cadastro/cadastro-controller.js"></script> <!-- injetar controller -->
    <script src="home/home-controller.js"></script>
    <script src="index-controller.js"></script>
    <script src="componentes/componente-alert.js"></script>

    <link rel="shortcut icon" href="assets/favicon.ico">

</head>


<body ng-app="app"> <!-- o html body faz parte do modulo app -->

    <div class="container">
        <alert-para-usuario msg="'teste'"> <!-- diretiva-->

        </alert-para-usuario>
    </div>

    <div class="container">
        <div ng-controller="MenuController as vm"> <!-- tudo que acontece no appControler é replicado na div -->
            <ul class="nav nav-tabs">
                <li class="nav-item" ng-repeat="item in vm.itensMenu">
                    <a ng-class="item.classe" ng-click="vm.menu(item.titulo, vm.itensMenu)">{{item.titulo}}</a>
                </li>
            </ul>
        </div>
     
        <div ng-view></div>

    </div>
        
</body>


</html>