<div class="container" ng-init="vm.init()"> <!-- no momento em que a tela é carregada a função em init é chamada-->

    <h1>{{vm.texto}}</h1>

    <!-- <button type="button" class="btn btn-primary" ng-click="vm.listarClientes()">Lista</button>  //ng-click caprtura o click do ususário e executa o que foi atribuido-->

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">RG</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cliente in vm.clientes">
            <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.rg}}</td>
          </tr>
        </tbody>
      </table>

</div>

