<div class="container" ng-init="vm.init()"> <!-- no momento em que a tela é carregada a função em init é chamada-->

    <div class="container" ng-if="vm.error">
        <alert-para-usuario msg="'A conexão com o banco de dados falhou!'" tipo="'erro'"> <!-- diretiva-->
        </alert-para-usuario>
    </div>

    <label for="exampleDataList" class="form-label">Filtro de pesquisa</label>
    <input class="form-control" list="datalistOption" ng-model="vm.filtroPesquisa" id="exampleDataList" placeholder="filtrar">

    <table class="table" ng-if="vm.clientes">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">RG</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cliente in vm.clientes | filter : vm.filtroPesquisa | orderBy : 'nome' ">
            <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.rg}}</td>
            <td>
              <button type="button" class="btn btn-outline-warning" ng-click="vm.editar(cliente.id)">
                Editar
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-danger" ng-click="vm.excluir(cliente.id)">
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
    </table>

</div>

